

body{
    background-image: url(./images/blob-scene-haikei.svg);
    
    background-size: cover;
    background-repeat: none;
}

.container
{
    background-image: linear-gradient(to right, #0a233f,#5ca9e8);
    
}

.btn
{
    font-size: 2rem;
    font-weight: bold;
}
